@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body,
html {
    height: 100%;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.bg {
    background: url(https://raw.githubusercontent.com/ro0sterduck/sixweb/refs/heads/main/bg.jpg);
    position: fixed;
    inset: 0;
    z-index: -1;
    background-size: cover;
    will-change: transform;
    background-position: center;
}
.spacer {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(128, 128, 128, 0.15),
        rgba(128, 128, 128, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    top: 50%;
    left: 50%;
    min-width: 80%;
    margin: 0 1.25%;
    scroll-snap-align: center;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container {
    backdrop-filter: blur(5px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.window {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    top: 50%;
    left: 50%;
    min-width: 80%;
    margin: 0 1.25%;
    scroll-snap-align: center;
    height: 85%;
    display: flex;
    align-items: top;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.header {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
    padding: 20px;
    margin: 15px;
    flex: 1;
    max-height: 10%;
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.rightMessage {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    margin: 15px;
    margin-left: auto;
    line-height: 1;
    gap: 20px;
}

.message {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    margin: 0px;
    line-height: 1;
    margin-top: 20;
    width: fit-content;
}

.output {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    margin: 0px;
    line-height: 1;
    margin-top: 20;
    width: fit-content;
    animation: float 0.5s ease-in-out;
}

.dock {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 35px;
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.button {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    scale: 1.05;
}

.content {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    margin: 15px;
    margin-top: 0px;
    line-height: 1;
    gap: 20px;
    flex: 1;
}
.termout {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: left;
    margin: 15px;
    margin-top: 0px;
    line-height: 1;
    gap: 20px;
    flex: 1;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}
.content::-webkit-scrollbar {
    display: none;
}

.home > .column {
    flex: 1;
}

.cursor {
    animation: blink 1s steps(2, start) infinite;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
@keyframes float {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
