@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
body,
html {
    height: 100%;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.bg {
    /* background: url(https://files.catbox.moe/0ud7y6.jpg); */
    position: fixed;
    inset: 0;
    z-index: -1;
    background: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    will-change: transform;
    transform: translate3d(0, 0, 0);
}
.spacer {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(128, 128, 128, 0.15),
        rgba(128, 128, 128, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    min-width: 80%;
    margin: 0 1.25%;
    scroll-snap-align: center;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container {
    backdrop-filter: blur(5px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.01)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
}

.window {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    top: 50%;
    left: 50%;
    min-width: 80%;
    margin: 0 1.25%;
    scroll-snap-align: center;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    position: relative;
    scroll-snap-align: center;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.dock {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    position: absolute;
    top: 92.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.button {
    backdrop-filter: blur(15px);
    background: linear-gradient(
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    margin: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.button:hover {
    scale: 1.05;
}
